.state-name-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.state-title {
  height: 64px;
  margin: 10px;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 32px;
  font-family: roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 48px;
  color: #0ea5e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.test-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #94a3b8;
}

.testNo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #94a3b8;
}

.last-date {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #cbd5e1;
  margin-top: 7px;
}
.footerContainer {
  align-items: flex-end;
}
.state-app-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 10px;
}

.category-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  width: 80%;
  align-items: center;
  margin: 0px auto;
}

.dist-container{
    width: 85%;
    margin: 0 auto;
    color: #0ea5e9;
}

.distList {
  color: #94a3b8;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.number{
   font-size:24px;
   line-height:28.3px; 
   font-style:normal;
   margin-right:10px;
}
.district-item{
    display:flex;
    align-items:center;
}
.top-head{
font-family:"Roboto";
font-weight:500;
font-size:24px;
line-height:32px;
}

.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.gray {
  color: #6c757d;
}
