.layout {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContent{
  margin: 0 auto;
  padding: 0 6.4rem;
  @media screen and (max-width: 767px){
    padding: 0 3.2rem;
  }
}
.footerContainer {
  align-items: flex-end;
}